<html>
  <head>
    <title>WEBSOCKET COM SIGNALR</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    />

    <style>
      .slide-fade-enter-active,
      .slide-fade-leave-active {
        transition: all 1s ease;
      }
      .slide-fade-enter,
      .slide-fade-leave-to {
        height: 0px;
        overflow-y: hidden;
        opacity: 0;
      }

      code {
        color: #444;
      }

      #message-box {
        margin-bottom: 10px;
      }

      h4 {
        font-weight: bold;
        margin-bottom: 15px;
      }

      label {
        font-weight: bold;
        font-size: 0.9em;
        letter-spacing: 1px;
        margin-top: 0.8rem;
      }
    </style>
  </head>

  <body>
    <p>&nbsp;</p>
    <div id="app" class="container">
      <h4>TESTANDO WEBSOCKET COM SIGNALR</h4>

      <div class="row" v-if="!ready">
        <div class="col-sm">
          <form v-on:submit.prevent="connectWebSocket">
            <label>URI BASE</label>
            <input
              type="text"
              v-model="urlConnection"
              id="message-box"
              class="form-control"
              placeholder="Coloque aqui a URL BASE da sua api"
              autocomplete="off"
            />

            <label>JWTTOKEN</label>
            <input
              type="text"
              v-model="token"
              id="message-box"
              class="form-control"
              placeholder="Cole aqui o JWTTOKEN para a requisição"
              autocomplete="off"
            />
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              {{btnConnectionText}}
            </button>
          </form>
        </div>
      </div>

      <div class="row" v-if="ready">
        <div class="signalr-demo col">
          <div>
            <p class="text-info small">
              Rota de conexão: <strong>{{ urlConnection }}</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="row" v-if="ready">
        <div class="col">
          <form v-on:submit.prevent="sendNewMessage">
            <label>URI POST</label>
            <input
              type="text"
              v-model="urlPost"
              id="message-box"
              class="form-control"
              placeholder="Coloque aqui a URI da sua rota POST"
              autocomplete="off"
            />

            <label>Nome do evento (do web socket)</label>
            <input
              type="text"
              v-model="eventName"
              id="message-box"
              class="form-control"
              placeholder="Coloque aqui o nome do evento do seu websocket"
              autocomplete="off"
            />

            <label>JWTTOKEN</label>
            <input
              type="text"
              v-model="token"
              id="message-box"
              class="form-control"
              placeholder="Cole aqui o JWTTOKEN para a requisição"
              autocomplete="off"
            />

            <label>CORPO DA REQUISIÇÃO</label>
            <textarea
              rows="10"
              type="text"
              v-model="newMessage"
              id="message-box"
              class="form-control"
              placeholder="Escreva aqui o corpo da requisição"
              autocomplete="off"
            >
            </textarea>

            <button class="btn btn-primary btn-lg btn-block" type="submit">
              {{btnText}}
            </button>
          </form>
        </div>

        <div class="col">
          <div v-if="ready">
            <transition-group name="slide-fade" tag="div">
              <div
                class="row"
                v-for="message in messages"
                v-bind:key="message.id"
              >
                <div class="col-sm">
                  <div>
                    <div>
                      <p class="text-info small">
                        EVENTO: <strong>{{ message.eventName }}</strong>
                      </p>
                      <code> {{ message.text }} </code>
                    </div>
                  </div>
                  <hr />
                </div>
              </div>
            </transition-group>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.1.2/dist/browser/signalr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>

    <script>
      const data = {
        username: "",
        urlConnection: "http://localhost:7071",
        btnConnectionText: "CONECTAR",
        urlPost: `http://localhost:7071/api/web/turnlist/onservice`,
        newMessage: "",
        messages: [],
        ready: false,
        eventName: "listUpdate",
        token: "",
        btnText: "MANDAR",
      };

      const app = new Vue({
        el: "#app",
        data: data,
        methods: {
          sendNewMessage: async function () {
            this.btnText = "ENVIANDO...";
            const result = await sendMessage(this.newMessage);
            console.log("resultado da requisição");
            this.btnText = result.status === 200 ? "MANDAR" : "MANDAR DENOVO";
          },
          connectWebSocket: async function () {
            this.btnConnectionText = "CONECTANDO...";
            await getConnectionInfo();
            this.btnConnectionText = "CONECTAR";
          },
        },
      });

      async function getConnectionInfo() {
        const res = await axios.post(`${data.urlConnection}/negotiate`, null, {
          headers: {
            Authorization: `Bearer ${data.token}`,
          },
        });

        console.log(res.data);
        data.eventName = res.data.eventName;
        const options = {
          accessTokenFactory: () => res.data.accessToken,
        };

        const connection = new signalR.HubConnectionBuilder()
          .withUrl(res.data.url, options)
          .configureLogging(signalR.LogLevel.Information)
          .build();

        connection.on(data.eventName, (value) => {
          console.log(value);
          newMessage(data.eventName, JSON.stringify(value));
        });

        connection.onclose(() => console.log("disconnected"));

        console.log("connecting...");

        connection
          .start()
          .then(() => (data.ready = true))
          .catch(console.error);
      }

      // const connection = new signalR.HubConnectionBuilder()
      //   .withUrl(`${apiBaseUrl}`)
      //   .configureLogging(signalR.LogLevel.Information)
      //   .build();

      // connection.on(data.eventName, (value) => {
      //   console.log(value);
      //   newMessage(data.eventName, JSON.stringify(value));
      // });

      // connection.onclose(() => console.log("disconnected"));

      // console.log("connecting...");

      // connection
      //   .start()
      //   .then(() => (data.ready = true))
      //   .catch(console.error);

      async function sendMessage(body) {
        try {
          const status = await axios.post(data.urlPost, body, {
            headers: { Authorization: `Bearer ${data.token}` },
          });
          return status;
        } catch (e) {
          return e;
        }
      }

      let counter = 0;
      function newMessage(eventName, message) {
        let msg = { eventName: eventName, text: message };
        msg.id = counter++; // vue transitions need an id
        data.messages.unshift(msg);
      }
    </script>
  </body>
</html>
